.square{
  border: 1px solid #eeeeee;
    float: left;
    margin-right: -1px;
    margin-top: -1px;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    background: rgb(2,0,36);
    padding: 10px;
    margin: 9px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 12px;
    box-shadow: 3px 3px #888888;
    color: #ffffff;
}
.square:focus{
  outline: none;
}
.border-row:after{
  clear: both;
  content: '';
  display: table;
}
.game{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
ol, li{
  list-style: none;
}
.game-info{
  margin-left: 20px;
}
.status{
  margin-bottom: 10px;
}
.button-start{
  background: #0d84f2;
    padding: 10px;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 10px;
}
.button-start:focus{
  border: none;
  outline: none;
}
